html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

.--img-drop-shadow {
  filter: drop-shadow(0px 10px 20px rgba(41, 41, 42, 0.07));
}

.--item-center {
  text-align: -moz-center;
  text-align: -webkit-center;
}
